<link rel="stylesheet" href="/css/user_profile.css">
<script
    type="text/javascript">window.setTimeout("document.getElementById('flash-messages').style.display='none';", 2000); </script>

    <style>
        .alert-danger{
            width: 50%;
             text-align: center;
             left: 25vw;
        }
    
        .alert-success{
            width: 50%;
             text-align: center;
             left: 25vw;
        }

        #flash-messages .alert {
          margin-bottom: '0px';
          position: absolute;
          z-index: 1;
       }
    </style>

    <% if (message !="" ) { %>
        <div id="flash-messages">
                    <div class="alert alert-success">
                      <%= message %>
                    </div>
        </div>
        <% } %>
<h1>
    Profile Page
</h1>


<p> <%= user.first_name %>
        <%= user.last_name %>
</p>
<p> <%= user.email %>
</p>
<p> <%= user.contact %>
</p>

<form action="/users/createPost" method="POST" enctype="multipart/form-data">
    <div class="file-field input-field">
        <div class="btn grey">
            <span>File</span>
            <input name="myImage" type="file">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>
    <button type="submit" class="btn">Submit</button>
</form>
